[Locations]
# Path to loadout config. Can use relative path from here.
looks_config = ./appearance.cfg

# Path to python file. Can use relative path from here.
#!!!Make sure it matches whatever you rename ExampleBot.py to!!!
python_file = ./SwagBot.py

# Name of the bot in-game
name = Sw4ggidy Sw1g

maximum_tick_rate_preference = 120

[Details]
# These values are optional but useful metadata for helper programs
# Name of the bot's creator/developer
developer = Michael Audi, Zachary Canale, and Thomas Yang

# Short description of the bot
description = We love this boio

# Link to github repository
github = https://github.com/mikeonator/SwagBot

# Programming language
language = Python
